* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /*wrapper maken 'cause cool-ness*/
}

/****** Fonts ******/

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 15px;
    margin-right: 15px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: 400;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}

/****** Navbar ******/

div#navbar {
    background-color: #3A3A3A;
    color: white;
    height: 40px;
}

div#navbar ul {
    display: flex;
    justify-content: left;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    align-items: center;
}

div#navbar ul li {
    list-style: none;
    height: 80%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

/****** Header ******/

div#header {
    background-color: white;
    color: black;
}

div#headertext {
    margin-left: 20px;
}

div#headertext h1 {
    margin-bottom: 5px;
}

div#headertext2 {
    margin-left: 20px;
}

div#headertext2 p {
    margin: 0;
}

/****** Content ******/

/* Wrapper */
/* codelog 18-1-2019 - 01:08
mijn wrapper werkt deels, ugh.*/

div.wrapper {
    display: grid;
    max-width: 960px;
    margin: auto;
    grid-template-areas: "header header header" "navbar" "content1" "content2" "content3" "content4" "content5" "content6" "blackline" "footer"
}

.box {
    background-color: lightgray;
    padding: 10px;
    font-size: 100%;

}

article {
    box-shadow:0px 0px 1px 3px #969696;
}

#navbar,
#blackline {
    background-color: #3A3A3A;
}

#header {
    grid-area: header;
}

#navbar {
    grid-area: navbar;
}

#content1 {
    grid-area: content1;
}

#content2 {
    grid-area: content2;
}

#content3 {
    grid-area: content3;
}

#content4 {
    grid-area: content4;
}

#content5 {
    grid-area: content5;
}

#content6 {
    grid-area: content6;
}

#blackline {
    grid-area: blackline;
}

#footer {
    grid-area: footer;
}

@media only screen and (max-width: 1820px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header  header  header" "navbar  navbar  navbar" "content1  content2  content5" "content3  content4  content6" "blackline  blackline  blackline" "footer  footer  footer";
    }
}

@media only screen and (max-width: 968px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header  header" "navbar  navbar" "content1  content2" "content3  content4" "content5  content6" "blackline  blackline" "footer  footer";
    }
}

@media only screen and (max-width: 616px) {
    .wrapper {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "navbar" "content1" "content2" "content3" "content4" "content5" "content6" "blackline" "footer";
    }

    #header {
        text-align: center;
    }
}

/* Articles */

article.article1 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 230px;
    padding-left: 10px;
}

article#article2 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 160px;
    padding-left: 10px;
}

article#article3 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 115px;
    padding-left: 10px;
}

/* dit is een shout voor help, heb echt hulp nodig met dit ;( */

/* Button */

button.buttoninfo {
    /*background-color: #009BFF;*/
    background-color: #EC112C;
    /*border-color: #009BFF;*/
    border-color: #EC112C;
    border: 0;
    padding: 10px;
    width: 105px;
    height: 38px;
    text-align: center;
}

button.buttoninfo:hover, button.buttoninfo:focus {
    background-color: #BC0F26;
    border-color: #BC0F26;
}

p.buttoncolor{
    color:white;
    margin-top: 0;
    margin-right: 0;
}

a:hover, a:focus {
    text-decoration: underline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
}

/* 1 */

div#content1 {

}

/* 2 */

div#content2 {

}

/* 3 */

div#content3 {

}

/* 4 */

div#content4 {

}

/* 5 */

div#content5 {

}

/* 6 */

div#content6 {

}

/****** External & internal links *******/

a {
    text-decoration: none;
}

ul.externallinks {
    display: block;
    list-style-type: none;
    padding: 0;
    /*color: #009BFF;*/
    color: #BC0F26;
}

li.externallink1 {
    margin-bottom: 10px;
}

li#externallink2 {
    margin-bottom: 20px;
}

a.links1 {
    color: white;
}

a.links2 {
    /*color: #07BDFF;*/
    color: #EC112C;
}

/****** Footer ******/

div#blackline {
    background-color: #3A3A3A;
    height: 40px;
}

div#footer {
    background-color: lightgrey;
    height: 100px;
}

/* ik weet echt niet wat de "sans" ik doe, help*/