* {
    box-sizing: border-box;
    /*border: 1px dotted red;*/
}

html, body {
    margin: 0;
    padding: 0;
    /*wrapper maken 'cause cool-ness*/
    /*background-color: white;*/
}

body {
    margin: 30px;
    background-color: lightgray;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 40px 290px 290px 40px 140px;
}

/****** Fonts ******/

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: 400;
}

/****** Navbar ******/

div#navbar {
    background-color: #3A3A3A;
    grid-column: 1/5;
    grid-row: 2;
    color: white;
}

div#navbar ul {
    display: flex;
    justify-content: left;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    align-items: center;
}

div#navbar ul li {
    list-style: none;
    height: 80%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

/****** Header ******/

div#header {
    background-color: white;
    grid-column: 1/5;
    grid-row: 1;
    color: black;
}

div#headertext {
    margin-left: 20px;
}

div#headertext h1 {
    margin-bottom: 5px;
}

div#headertext2 {
    margin-left: 20px;
}

div#headertext2 p {
    margin: 0;
}

/****** Content ******/

/* Wrapper */



/* Articles */

article.article1 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 90%;
    padding-left: 10px;
}

article#article2 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 60%;
    padding-left: 10px;
}

article#article3 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 45%;
    padding-left: 10px;
}

/* Button */

button.buttoninfo {
    background-color: #009BFF;
    border: 0px;
    padding: 10px;
    width: 105px;
    height: 38px;
    text-align: center;
    /*width: 38%;*/
    /*height: auto;*/
}

/* 1 */

div#content1 {
    grid-column: 1/2;
    grid-row: 3;
}

/* 2 */

div#content2 {
    grid-column: 2/3;
    grid-row: 3;
}

/* 3 */

div#content3 {
    grid-column: 1/2;
    grid-row: 4;
}

/* 4 */

div#content4 {
    grid-column: 2/3;
    grid-row: 4;
}

/* 5 */

div#content5 {
    grid-column: 3/4;
    grid-row: 3;
}

/* 6 */

div#content6 {
    grid-column: 3/4;
    grid-row: 4;
}

/****** External & internal links *******/

a {
    text-decoration: none;
}

ul.externallinks {
    display: block;
    list-style-type: none;
    padding: 0;
    color: #009BFF;
}

li.externallink1 {
    margin-bottom: 10px;
}

li#externallink2 {
    margin-bottom: 20px;
}

a.links1 {
    color:white;
}

a.links2{
    color: #07BDFF;
}

/****** Footer ******/

div#blackline {
    background-color: #3A3A3A;
    grid-column: 1/4;
    grid-row: 5;
}

div#footer {
    background-color: lightgrey;
    grid-column: 1/4;
    grid-row: 6;
}