* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/****** Fonts ******/

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 15px;
    margin-right: 15px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: 400;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}

a:hover, a:focus {
    text-decoration: underline;
}

/****** Navbar ******/

div#navbar {
    background-color: #3A3A3A;
    color: white;
    height: 40px;
}

div#navbar ul {
    display: flex;
    justify-content: left;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    align-items: center;
}

div#navbar ul li {
    list-style: none;
    height: 80%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

/****** Header ******/

div#header {
    background-color: white;
    /*grid-column: 1/5;*/
    /*grid-row: 1;*/
    color: black;
}

div#headertext {
    margin-left: 20px;
}

div#headertext h1 {
    margin-bottom: 5px;
}

div#headertext2 {
    margin-left: 20px;
}

div#headertext2 p {
    margin: 0;
}

/****** Wrapper *******/

.wrapper {
    display: grid;
    max-width: 960px;
    margin: auto;
    grid-template-areas:
            "header"
            "navbar"
            "content1"
            "content2"
            "content3
            "content4"
            "blackline"
            "footer";
}

/****** Content *******/

div#image1 {
    text-align: left;
    margin: 0;
    padding: 0;
}

img#bigimage1 {
    width: 95%;
    height: auto;
}


/****** Media query's *******/

@media only screen and (max-width: 1820px) {
    .wrapper {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
                "header header"
                "navbar navbar"
                "content1 content3"
                "content2 content5"
                "blackline blackline"
                "footer footer";
    }
}

@media only screen and (max-width: 968px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "navbar"
                "content1"
                "content2"
                "content3"
                "blackline"
                "footer";
    }
}

@media only screen and (max-width: 616px) {
    #header {
        text-align: center;
    }
}

/****** Wrapping extra's *******/
.box {
    background-color: lightgray;
    padding: 10px;
    font-size: 100%;
}

article {
    box-shadow: 0px 0px 1px 3px #969696;
}

#navbar,
#blackline {
    background-color: #3A3A3A;
}

#header {
    grid-area: header;
}

#navbar {
    grid-area: navbar;
}

#content1 {
    grid-area: content1;
}

#content2 {
    grid-area: content2;
}

#content3 {
    grid-area: content3;
}

#content4 {
    grid-area: content3;
}

#blackline {
    grid-area: blackline;
}

#footer {
    grid-area: footer;
}

/****** Articles and content *******/
article.article1 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: auto;
    padding-left: 10px;

}

article#article2 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 90px;
    text-align:right;
    padding-left: 10px;
    padding-right:10px;
    padding-top:10px;
}

article#article3 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 160px;
    padding-left: 10px;
}

article#article4 {
    background-color: white;
    margin: 10px;
    width: auto;
    height: 115px;
    padding-left: 10px;
}

p#ptextbox {
    padding-bottom:15px;
}

/****** External & internal links *******/
a {
    text-decoration: none;
}

ul.externallinks {
    display: block;
    list-style-type: none;
    padding: 0;
    /*color: #009BFF;*/
    color: #BC0F26;
}

li.externallink1 {
    margin-bottom: 10px;
}

li#externallink2 {
    margin-bottom: 20px;
}

a.links1 {
    color: white;
}

a.links2 {
    /*color: #07BDFF;*/
    color: #EC112C;
}

/****** Footer ******/
div#blackline {
    background-color: #3A3A3A;
    height: 40px;
}

div#footer {
    background-color: lightgrey;
    height: 100px;
}
